<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cad.onshape.com/js/vendor-bundle.372f38798a62e5110c68.css" rel="stylesheet">
    <link href="https://cad.onshape.com/css/woolsthorpe.95bec89c9c320502ae2e.css" rel="stylesheet">
    <meta charset="utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body onload="doinit()">
    <% for (var index in htmlWebpackPlugin.files.js) { %>
        <script src="<%= htmlWebpackPlugin.files.js[index] %>"></script>
        <% } %>
            <span class="defs_only">
                <%= require('./onshape/icons.svg') %>
            </span>
            <div id="top">
                <div id="app">
                </div>
            </div>
</body>