<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cad.onshape.com/js/vendor-bundle.css" rel="stylesheet">
    <link href="https://cad.onshape.com/css/woolsthorpe.css" rel="stylesheet">
    <meta charset="utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body onload="doinit()">
    <% for (var index in htmlWebpackPlugin.files.js) { %>
        <script src="<%= htmlWebpackPlugin.files.js[index] %>"></script>
        <% } %>
            <div id="top">
                <div id="app">
                </div>
            </div>
</body>